body{
    display:flex;
    justify-content: space-between;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.side-bar{
    background-color: #dfdfde;
    flex: 1;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.side-bar h1 {
    font-size: 45px;
    font-weight: 800;
}
#clear-button{
    font-size: 30px;
    background-color: #8d8daa;
    padding: 20px;
    border-radius: 15px;
    border-color: #dfdfde;

}
.container{
    flex-shrink: 0;
    width: 940px;
    height:940px;
    background-color: rgb(241, 241, 197);
    display:flex;
    flex-wrap: wrap;
    align-items:flex-start;
    justify-content: flex-start;
}
.gridDiv{
    box-sizing: border-box;
    margin:0;
    padding:0;
}